<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arccc.cmsserver.mapper.UserTokenMapper">

    <resultMap id="BaseResultMap" type="com.arccc.cmsserver.domain.UserToken">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="token" column="token" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,token
    </sql>
</mapper>
